.card {
  background-color: var(--mm-selection);
  color: var(--mm-foreground);
  margin-bottom: 2vw;
  cursor: pointer;
  text-align: center;

  width: max(28vw, 327px);
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

img {
  width: 93%;
  height: 47.5%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  object-fit: cover;
}

.extra-desc {
  margin-top: 0.5vw;
}

.intro {
  margin: 1vw;
  margin-bottom: 2vw;
  text-align: center;
  width: 70vw;
  margin-left: 15vw;
}
